@model RemoveItemViewComponentModel

<form asp-controller="Directory" asp-action="Delete" method="post" class="container">
        <input asp-for="Confirmed" required /> Czy na pewno chcesz usunąć wybrany katalog i wszystkie jego podkatalogi?
    <div class="form-inline ">
        <button type="submit" class="btn btn-sm btn-danger confirm">Usuń</button>
        <button type="button" class="btn btn-sm btn-secondary confirm"  data-toggle="collapse" data-target="#REM_@Model.Id" >Anuluj</button>
    </div>
    <div class="form-group  collapse ">
        <input class="form-control" asp-for="Id" />
    </div>
</form>