@model PanelViewModel

<div class="container position-relative">
    <h2 class="toast-header">Admin panel</h2>
    <div class="form-inline">
        <button type="button" class="btn btn-light btn-sm" data-toggle="collapse" data-target="#ADD_NEW">
            <i class="fas fa-plus "></i> Dodaj nowy katalog
        </button>
        <div class="div-right">
            <form asp-controller="Panel" asp-action="Index" method="get" class="form-group input-group-sm">
                <label class="control-label">Sortowanie:  </label>
                <select class="form-control" asp-for="Order">
                    <option value="null"> data utworzenia: od najstarszego</option>
                    <option value="reverse"> data utworzenia: od najnowszego</option>
                    <option value="ascending"> nazwa: A-Z</option>
                    <option value="descending"> nazwa: Z-A</option>
                </select>
                <button type="submit" class="btn btn-light btn-sm">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="collapse card card-body" , id="ADD_NEW">
        @await Component.InvokeAsync("AddNewItem", new { order = Model.Order })
    </div>
    <div class="card card-body">
        @await Component.InvokeAsync("AdminTree", new { isFirstCall = true, order = Model.Order })
    </div>
</div>


