@model SelectTreeViewComponentModel

@foreach (var item in Model.TreeModel)
{ 
    <option value="@item.Id">@Model.Sign @item.Name</option>
    if (item.DirectoryChildren != null)
    {
        @await Component.InvokeAsync("SelectTree", new { directories = item.DirectoryChildren, isFirstCall = false, sign = Model.Sign })
    }
}


