@model IEnumerable<DirectoryDto>

<div class="container">
    <h2 class="toast-header">Home panel</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Info!</strong> Zaloguj się do panelu klienta aby móc edytować drzewo.
        </div>
    }

    <div class="card card-body">
        @await Component.InvokeAsync("Tree", new { directories = Model, isFirstCall = true })
    </div>

</div>
