@model HomeViewModel

<div class="container">
    <h2 class="toast-header">Home panel</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Info!</strong> Zaloguj się do panelu klienta aby móc edytować drzewo.
        </div>
    }
    <div class="form-inline">
        <div class="div-right">
            <form asp-controller="Home" asp-action="Index" method="get" class="form-group input-group-sm">
                <label class="control-label">Sortowanie:  </label>
                <select class="form-control" asp-for="Order">
                    <option value="null"> data utworzenia: od najstarszego</option>
                    <option value="reverse"> data utworzenia: od najnowszego</option>
                    <option value="ascending"> nazwa: A-Z</option>
                    <option value="descending"> nazwa: Z-A</option>
                </select>

                <button type="submit" class="btn btn-light btn-sm">
                    <i class="fas fa-sync-alt"></i>
                </button>
            </form>
        </div>
    </div>

    <div class="card card-body">
        @await Component.InvokeAsync("HomeTree", new { isFirstCall = true, order = Model.Order  })
    </div>

</div>
