@model HomeTreeViewComponentModel

@foreach (var dir in Model.TreeModel)
{
    <div class="list-group-item">
        <button class="btn " type="button" data-toggle="collapse" data-target="#DIR_@dir.Id">
            <i class="fas fa-angle-down fas-title"></i>@dir.Name
        </button>
    </div>

    if (dir.DirectoryChildren != null)
    {
        <div class="collapse" id="DIR_@dir.Id">
            <div class="card card-body">
                @await Component.InvokeAsync("HomeTree", new { directories = dir.DirectoryChildren, isFirstCall = false, order = Model.Order })
            </div>
        </div>
    }
}